# Git Ver-Control
.gitignore
.gitconfig
.git

# VSCode Dev-Env
.vscode/

# Node.JS RTE
node_modules

# NPM PackageManager
package.json

# Linux OS
.Env/

# Files for Testing
.sandbox/
.test.js
.testlog.txt

# Files for Testing Text Handling Class
.psuedotext.txt
psuedotext.txt

# Process Logs & Log-Dirs
.cache/
.tmp/
.systemlog.txt
.errorlog.txt

# ESLint Linter
.eslintrc.json

# Prettier Bias-Formatter
.prettierrc

# Beautify Formatter
.beautifyrc.json

# Babel Backwords-Compatabilty Tool
.babelrc.js
.babelrc