# Git Ver-Control
.gitignore.save
.gitignore
.gitconfig
.git

# VSCode Dev-Env
.vscode/

# Node.JS RTE
node_modules

# NPM PackageManager
package.json

# Linux OS
.ENV
.Env
.env

# Files for Testing
.testing/
testing/
.test.js
.psuedotext.txt
psuedotext.txt

# Process Logs & Log-Dirs
.cache/
.tmp/
.systemlog.txt
.errorlog.txt

# ESLint Linter
.eslintrc.json

# Prettier Bias-Formatter
.prettierrc

# Beautify Formatter
.beautifyrc.json

# Babel Backwords-Compatabilty Tool
.babelrc.js
.babelrc