{
    "printWidth": 85,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "insertPragma": true,
    "requirePragma": false,

    "overrides": [
        {
            "files": [".prettierrc", "eslintrc.json"],
            "options": { "parser": "json" }
        }
    ]
}
